{% extends "base.html" %} {% block title %}History{% endblock %}

{% block content %}
<h3 align="center" style="margin-top:15px;margin-bottom:15px;">Conversion History</h3>
<div class="overflow-auto" style="max-height: 300px;">
<ul class="list-group list-group-flush" id="videos">
    {% for i in range(user.videos|length - 1, -1, -1) %}
    <li class="list-group-item"><b>{{ user.videos[i].title }}</b> [ Type: <i>{{ user.videos[i].link_type}}, {{ user.videos[i].file_type}}</i> | Timestamp: <i>{{ user.videos[i].date }}</i> ]
        <button type="button" class="close" onClick="copyToClipboard('{{ user.videos[i].url }}')" data-toggle="tooltip" data-placement="top" title="Copy URL to Clipboard">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
            </svg>
        </button>
    </li>
    {% endfor %}
</ul>
</div>
{% if user.videos|length > 0 %}
<form method="POST">
    <center><button type="submit" class="btn btn-primary">Clear History</button></center>
</form>
{% else %}
<center>You have not converted any videos yet. Go to the video or playlist page to start!</center>
{% endif %}
{% endblock %}